workflow/meeting-intelligence.json
{
  "name": "meeting-intelligence",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        928,
        352
      ],
      "id": "d0fff208-82d3-4d39-b93a-7eb070ea6422",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "16qYq8nQslLQc0Kj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "865f271e-decb-46c4-a631-e1514ba39d5c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        64
      ],
      "id": "310b7a27-ece1-479c-8c02-4b8d3f6d00de",
      "name": "Webhook",
      "webhookId": "865f271e-decb-46c4-a631-e1514ba39d5c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36b9a6bc-6eb7-4888-8590-ec86de61e1f9",
              "name": "meeting_transcript",
              "value": "={{ $json.body.transcript }}",
              "type": "string"
            },
            {
              "id": "cd6af9dc-27ac-4075-b067-28ff910b0ad0",
              "name": "meeting_date",
              "value": "={{ $json.body.date }}",
              "type": "string"
            },
            {
              "id": "067f01ac-6191-477e-9fb0-ee1e39c3ec1e",
              "name": "meeting_title",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "b763a31d-7717-405d-ba88-0c339f12b71e",
              "name": "participants",
              "value": "={{ $json.body.participants }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        64
      ],
      "id": "3d428788-f654-40ca-9d10-46e575f3071e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        352
      ],
      "id": "a4681c6c-c748-4a03-8c1c-000bf113b331",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "16qYq8nQslLQc0Kj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 1000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1968,
        352
      ],
      "id": "fa5b7288-9a12-409f-8ab1-c1fb122b9602",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "16qYq8nQslLQc0Kj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2bb750e-42b4-4856-9bd9-0b008aec0110",
              "name": "summary",
              "value": "={{ $('AI Agent - Summary').item.json.output }}",
              "type": "string"
            },
            {
              "id": "c1f16934-742b-4bac-92fb-05facdba4177",
              "name": "action_items",
              "value": "={{ $('AI Agent - Priority Classifier').item.json.output }}",
              "type": "string"
            },
            {
              "id": "0547b223-3b05-4953-9e64-cb38d5c76196",
              "name": "risks",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2304,
        176
      ],
      "id": "292a4b71-636a-43a7-b8dd-f97b17be9e36",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1616,
        368
      ],
      "id": "90981db9-0b79-4ffd-ac2d-bf67cba3ca04",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "16qYq8nQslLQc0Kj",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a priority classification system. Assign priority levels to action items based on impact and urgency.\n\nINPUT: A JSON array of action items from a meeting transcript\nOUTPUT: Same JSON array with priority field added to each item\n\nRULES:\n- HIGH: Deadline this week, blocks other work, critical to project, mentioned with urgency\n- MEDIUM: Deadline next 1-2 weeks, important but not blocking\n- LOW: Nice to have, deadline 3+ weeks away, no blocking dependencies\n- If no deadline mentioned, use context to infer priority\n- If owner is CEO/executive and involves them, default to HIGH\n- Always return valid JSON array\n\nAdd a \"priority\" field to each item without removing other fields.\n\nReturn ONLY the JSON array with priority added, nothing else.\n\nExample:\nInput: [{\"item\": \"Fix bug\", \"owner\": \"Bob\", \"deadline\": \"Friday\"}]\nOutput: [{\"item\": \"Fix bug\", \"owner\": \"Bob\", \"deadline\": \"Friday\", \"priority\": \"HIGH\"}]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1616,
        176
      ],
      "id": "5f811070-58ff-430f-bdc9-6c86b0255016",
      "name": "AI Agent - Priority Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.meeting_transcript }}",
        "options": {
          "systemMessage": "=You are a risk analyst. Identify risks and blockers from this meeting transcript.\n\nRULES:\n- Identify explicit blockers mentioned\n- Classify severity: HIGH, MEDIUM, LOW\n- Return JSON array\n\nReturn ONLY this JSON:\n[\n  {\n    \"blocker\": \"...\",\n    \"severity\": \"HIGH|MEDIUM|LOW\",\n    \"context\": \"...\"\n  }\n]\n\nIf no blockers found, return empty array []."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1968,
        176
      ],
      "id": "697bad9a-944f-455b-8cdd-fe73e4fcfc58",
      "name": "AI Agent - Risk Assesment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.meeting_transcript }}",
        "options": {
          "systemMessage": "=You are a business analyst extracting action items from meeting transcripts.\n\nINPUT: A meeting transcript\nOUTPUT: A JSON array of action items\n\nRULES:\n- Extract only explicit action items\n- Include: what, who is doing it, deadline if mentioned\n- If no owner, assign \"TBD\"\n- If no deadline, put \"No deadline\"\n- Return JSON array format\n\nReturn ONLY this JSON, nothing else:\n[\n  {\n    \"item\": \"...\",\n    \"owner\": \"...\",\n    \"deadline\": \"...\"\n  }\n]\n\nIf no action items found, return empty array []."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1264,
        176
      ],
      "id": "7809d10d-37af-4c85-a1e4-b3e35909f463",
      "name": "AI Agent - Action Items",
      "onError": "continueRegularOutput",
      "notes": "={\n  \"status\": \"error\",\n  \"message\": \"Processing failed\",\n  \"error_type\": \"{{ $json.error_type || 'unknown' }}\",\n  \"error_details\": \"{{ $json.error_message || 'No details available' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"recommendation\": \"Check OpenAI API status or contact support\"\n}"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.meeting_transcript }}",
        "options": {
          "systemMessage": "=You are a business meeting analyst. Your job is to create executive summaries of meeting transcripts.\n\nINPUT: A meeting transcript\nOUTPUT: A JSON object with a \"summary\" field\n\nRULES:\n- Summary must be 2-3 sentences maximum\n- Focus on key decisions and outcomes\n- Use professional language\n- Ignore chitchat and small talk\n\nReturn ONLY this JSON format, nothing else:\n{\n  \"summary\": \"...\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        176
      ],
      "id": "e08d01e8-22fa-45cb-84fb-5b1cb013534a",
      "name": "AI Agent - Summary",
      "onError": "continueRegularOutput",
      "notes": "={\n  \"error_type\": \"openai_summarization_failed\",\n  \"error_message\": \"{{ $error.message }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"fallback_summary\": \"Failed to generate summary. Please review transcript manually.\"\n}"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $('Edit Fields').first().json\n// Extract input\nconst transcript = body.meeting_transcript;\nconst date = body.meeting_date;\nconst title = body.meeting_title;\nconst participants = body.participants;\n\n// Validate\nconst errors = [];\n\n// 1. Transcript validation\nif (!transcript || transcript.trim().length === 0) {\n  errors.push(\"Transcript is required and cannot be empty\");\n}\nif (transcript && transcript.trim().length < 50) {\n  errors.push(\"Transcript must be at least 50 characters long\");\n}\n\n// 2. Date validation (YYYY-MM-DD format)\nif (!date || date.trim().length === 0) {\n  errors.push(\"Date is required\");\n}\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (date && !dateRegex.test(date)) {\n  errors.push(\"Date must be in YYYY-MM-DD format (e.g., 2024-05-10)\");\n}\n\n// 3. Title validation\nif (!title || title.trim().length === 0) {\n  errors.push(\"Title is required and cannot be empty\");\n}\nif (title && title.trim().length < 3) {\n  errors.push(\"Title must be at least 3 characters\");\n}\n\n// 4. Participants validation\nif (!Array.isArray(participants)) {\n  errors.push(\"Participants must be an array\");\n}\nif (Array.isArray(participants) && participants.length === 0) {\n  errors.push(\"At least one participant is required\");\n}\n\n// Return result\nif (errors.length > 0) {\n  return {\n    valid: false,\n    errors: errors,\n    timestamp: new Date().toISOString()\n  };\n}\n\n// All valid\nreturn {\n  valid: true,\n  meeting_transcript: transcript,\n  meeting_date: date,\n  meeting_title: title,\n  participants: participants,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        64
      ],
      "id": "88ca0d53-07ad-4ff8-a55c-9a7ff88db0e9",
      "name": "Validation Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d462feb9-6704-464c-8ad5-c4c033a01a8e",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        64
      ],
      "id": "21fff42a-72cd-4b9b-8b42-74df04b46fab",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Invalid input\",\n  \"errors\": {{ JSON.stringify( $json.errors) }},\n  \"required_fields\": {\n    \"transcript\": \"string (min 50 characters)\",\n    \"date\": \"YYYY-MM-DD format (required)\",\n    \"title\": \"string (min 3 characters, required)\",\n    \"participants\": \"array of strings (min 1 item)\"\n  },\n  \"example\": {\n    \"title\": \"Q2 Planning Meeting\",\n    \"date\": \"2024-05-10\",\n    \"participants\": [\"Alice\", \"Bob\", \"Sarah\"],\n    \"transcript\": \"Alice: Let's discuss Q2 roadmap. We need to launch v2.0 by June 15...\"\n  },\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n} ",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        944,
        0
      ],
      "id": "a6080a90-5aa6-4c57-9abd-46b8a83abd40",
      "name": "Return Validation Error"
    },
    {
      "parameters": {
        "jsCode": "// Parse outputs safely\nlet summary = {};\nlet action_items = [];\nlet risks = [];\n\ntry {\n  const summaryStr = $input.first().json.summary;\n  summary = typeof summaryStr === 'string' ? JSON.parse(summaryStr) : summaryStr;\n} catch (e) {\n  summary = { error: \"Failed to parse summary\" };\n}\n\ntry {\n  const itemsStr = $input.first().json.action_items;\n  action_items = typeof itemsStr === 'string' ? JSON.parse(itemsStr) : itemsStr;\n  if (!Array.isArray(action_items)) action_items = [];\n} catch (e) {\n  action_items = [];\n}\n\ntry {\n  const risksStr = $input.first().json.risks;\n  risks = typeof risksStr === 'string' ? JSON.parse(risksStr) : risksStr;\n  if (!Array.isArray(risks)) risks = [];\n} catch (e) {\n  risks = [];\n}\n\n// Estimate token usage based on outputs (rough calculation)\n// This is an estimate since we don't have exact token counts from OpenAI\nconst summaryTokens = summary && summary.summary ? Math.ceil(summary.summary.length / 4) : 0;\nconst actionItemsTokens = action_items.length > 0 ? Math.ceil(JSON.stringify(action_items).length / 4) : 0;\nconst risksTokens = risks.length > 0 ? Math.ceil(JSON.stringify(risks).length / 4) : 0;\n\nconst totalTokensUsed = summaryTokens + actionItemsTokens + risksTokens;\n\n// Cost calculation (GPT-4o-mini: $0.00015 per input token, $0.0006 per output token)\n// Using output token cost since we're charged for responses\nconst costPerOutputToken = 0.0006;\nconst estimatedCostUsd = (totalTokensUsed * costPerOutputToken / 1000).toFixed(4);\n\n// Build final response\nconst responseData = {\n  status: \"success\",\n  message: \"Meeting processed successfully\",\n  data: {\n    summary: summary,\n    action_items: action_items,\n    risks: risks,\n    meeting_title: $input.first().json.meeting_title,\n    meeting_date: $input.first().json.meeting_date,\n    participants: $input.first().json.participants\n  },\n  metrics: {\n    action_items_count: action_items.length || 0,\n    risks_count: risks.length || 0,\n    estimated_tokens_used: totalTokensUsed,\n    estimated_cost_usd: parseFloat(estimatedCostUsd),\n    api_model: \"gpt-4o-mini\",\n    note: \"Token count is estimated based on output length. Actual tokens may vary.\"\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn responseData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        176
      ],
      "id": "74308ab1-c3ea-4db6-99a1-e2666d911a39",
      "name": "Cost calculation and Output formatting"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2720,
        176
      ],
      "id": "89d22658-67c6-4f3c-bba9-405ee713dd3b",
      "name": "Final API Response"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fFanX69IVKoNjKTwZx9UsL--RTd3Zpx1ZqguCEIP-PM",
          "mode": "list",
          "cachedResultName": "Meeting Intelligence Archive",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fFanX69IVKoNjKTwZx9UsL--RTd3Zpx1ZqguCEIP-PM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fFanX69IVKoNjKTwZx9UsL--RTd3Zpx1ZqguCEIP-PM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Title": "={{ $('Validation Code').item.json.meeting_title }}",
            "Date": "={{ $('Validation Code').item.json.meeting_date }}",
            "Summary": "={{ $json.data.summary.summary }}",
            "Action Items": "={{ JSON.stringify($json.data.action_items) }}",
            "Risks": "={{ JSON.stringify($json.data.risks) }}",
            "Cost USD": "={{ $json.metrics.estimated_cost_usd }}",
            "Status": "={{ $json.status }}",
            "Participants": "={{ JSON.stringify($('Validation Code').item.json.participants) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action Items",
              "displayName": "Action Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risks",
              "displayName": "Risks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Participants",
              "displayName": "Participants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cost USD",
              "displayName": "Cost USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2928,
        176
      ],
      "id": "b32d2818-305a-4429-9adf-18f518062587",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pzKf5lOOcJUM1zJi",
          "name": "rishabh.sharma"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Validation Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Action Items",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Risk Assesment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Cost calculation and Output formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Priority Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Priority Classifier": {
      "main": [
        [
          {
            "node": "AI Agent - Risk Assesment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Risk Assesment": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Action Items": {
      "main": [
        [
          {
            "node": "AI Agent - Priority Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Summary": {
      "main": [
        [
          {
            "node": "AI Agent - Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Code": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "AI Agent - Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cost calculation and Output formatting": {
      "main": [
        [
          {
            "node": "Final API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final API Response": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "808d43a0-71ec-4b76-afb8-a99e1ea374b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a0b22919410812e57c9285f9023951c820ccc74dfcb808aa4a46a5e3bfe8b6d"
  },
  "id": "yJl418sMSTy4ckp8",
  "tags": []
}